@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
  --blue-color: #1985a1; /* blue munsell */
  --lightblue-color: #a9d6e5; /* blue munsell */
  --green-color: #197278; /* skobeloff */
  --red-color: #c44536; /* intl orange golden gate bridge */
  --orange-color: #ee964b; /* sandy brown */
  --yellow-color: #f4d35e; /* orange yellow crayola */
  --grey-color: #46494c; /* davys grey */
  --semi-grey-color: #4c5c68; /* black coral */
  --silver-color: #c5c3c6; /* silver */
  --light-color: #dcdcdd; /* gainsboro */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  color: #fff;
  background-color: var(--semi-grey-color);
  line-height: 1.6;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

header {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

h1.title {
  text-decoration: underline;
  text-decoration-color: var(--blue-color);
}

span.title {
  color: var(--blue-color);
}


/* *** CARD *** */
.card {
  position: relative;
  margin: 20px 0;
  padding: 40px 50px;
  /* color: var(--grey-color);
  background-color: var(--lightblue-color); */
  border-radius: 15px;
}

/* .card.reverse {
  color: var(--light-color);
  background-color: rgba(0, 0, 0, 0.4);
} */

.card h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

/* *** RATING *** */
.review-stats {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-weight: 400;
  color: var(--orange-color);
}

span.avg {
  padding-left: 5px;
  color: var(--light-color);
}

.message {
  padding-top: 10px;
  text-align: center;
  color: var(--yellow-color);
}

.rating {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 40px;
}

.rating li,
.num-display {
  position: relative;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-size: 19px;
  text-align: center;
  background-color: #f4f4f4;
  border: 1px var(--semi-grey-color) solid;
  border-radius: 15px;
  box-shadow: 1px 1px 3px 1.5px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.rating li label {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.num-display {
  position: absolute;
  top: -10px;
  left: -10px;
}

.rating li:hover,
.num-display {
  color: var(--light-color);
  background-color: var(--blue-color);
}

[type='radio'] {
  opacity: 0;
}

[type='radio']:checked ~ label {
  color: #fff;
  background: var(--red-color);
}


/* *** INPUT *** */
.input-group {
  display: flex;
  flex-direction: row;
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input {
  flex-grow: 2;
  font-size: 16px;
  border: none;
}

input:focus {
  outline: none;
}

textarea {
  flex-grow: 2;
  max-width: 80%;
  max-height: 150px;
  min-height: 40px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  overflow: scroll;
}

textarea:focus {
  outline: none;
}


/* *** BUTTONS *** */
.btn {
  width: 100px;
  height: auto;
  min-height: 40px;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--blue-color);
}

.btn-secondary {
  background: var(--green-color);
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  color: #333;
  background-color: #cccccc;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}

/* *** ICONS *** */
.close,
.edit {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: x-large;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 1s;
  opacity: 0.2;
}

.close:hover {
  transition: opacity 1s;
  opacity: 1;
}

.edit {
  right: 40px;
}


/* *** ABOUT *** */
.about-link {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

.about-link a {
  color: #fff;
}

.about-link a:hover {
  color: var(--red-color);
}

.about h1 {
  margin-bottom: 20px;
}

.about p {
  margin: 10px 0;
}

@media (max-width: 600px) {
  .rating li {
    margin: 10px 3px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
}